/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./mixins";
@import "./colours";
@import "./fonts";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $primary-white;
	color: $primary-black;
	font-family: "Noto_Serif";
}

a {
	color: $primary-black;
}

footer {
	padding: 20px;
}

.mainContainer {
	width: 70%;
	margin: 0 auto;
	form {
		margin-bottom: 10px;
		text-align: left;
		&.new_user {
			.field {
				margin-bottom: 10px;
			}
		}
		input {
			@include border-box;
			width: 100%;
			font-size: 16px;
			padding: 10px;
			&[type="file"] {
				padding: 0;
			}
			&[type="submit"] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				cursor: pointer;
			}
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			&#user_remember_me {
				width: auto;
			}
		}
		#error_explanation {
			margin-bottom: 20px;
			h3 {
				margin-bottom: 10px;
			}
		}
		.field {
			br {
				display: none;
			}
		}
		.tagsinput {
			margin-bottom: 10px;
			padding: 10px;
			input {
				padding: 0;
				margin: 0;
			}
		}
	}
}

@media all and (max-width: 780px) {
	.mainContainer {
		width: 90%;
		text-align: center;
	}
}