@font-face {
	font-family: "Lora-Regular";
	src: url(Lora/Lora-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Rubik";
	src: url(Rubik/Rubik-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Noto_Serif";
	src: url(Noto_Serif/NotoSerif-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Roboto_Slab";
	src: url(Roboto_Slab/RobotoSlab-Regular.ttf) format("truetype");
}