@import "./mixins";
@import "./colours";

nav {
	@include flex-box;
	padding: 20px;
	.navbarContents {
		@include flex-box;
		margin-left: auto;
		label {
			font-size: 0;
		}
		.avatar {
			cursor: pointer;
		}
		#avatarUpload, #updateAvatar {
			display: none;
		}
		a {
			margin: 0 10px;
			font-size: 18px;
			text-decoration: none;
		}
		img {
			width: 20px;
			height: 20px;
			object-fit: cover;
		}
	}
	.navbarMobile {
		display: none;
		width: 100%;
		.navbarMobileLinks {
			display: none;
			&.active {
				display: block;
			}
		}
		li {
			list-style-type: none;
		}
		a {
			@include animation-transition(0.1s);
			@include border-box;
			text-decoration: none;
			width: 100%;
			display: block;
			text-align: right;
			padding: 5px;
			&:hover {
				background-color: silver;
			}
		}
		.hamburger {
			width: 100%;
			text-align: right;
			padding: 10px 5px 5px 5px;
			&:hover {
				opacity: 1;
			}
			.hamburger-box {
				width: 30px;
				.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
					width: 30px;
					border-radius: 0;
					background-color: $primary-black;
				}
			}	
		}
	}
}

@media all and (max-width: 780px) {
	nav {
		padding: 0;
		.navbarContents {
			display: none;
		}
		.navbarMobile {
			display: block;
		}	
	}
}