@import "./mixins";

nav {
	@include flex-box;
	padding: 20px;
	.navbarContents {
		@include flex-box;
		margin-left: auto;
		label {
			font-size: 0;
		}
		.avatar {
			cursor: pointer;
		}
		#avatarUpload {
			display: none;
		}
	}
	a {
		margin: 0 10px;
		font-size: 18px;
	}
	img {
		width: 20px;
		height: 20px;
		object-fit: cover;
	}
}