@import "./colours";

.sidebar {
	width: 10%;
	height: 100vh;
	padding: 0 0 20px 20px;
	position: fixed;
	left: 0;
	border-right: 2px solid silver;
	a {
		text-decoration: none;
		display: inline-block;
		width: 100%;
		&:hover {
			background-color: silver;
		}
	}
	.main {
		padding-bottom: 10px;
	}
	.tags {
		border-top: 2px solid silver;
		padding-top: 10px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.heading {
		font-style: italic;
		margin-bottom: 5px;
	}
}