@import "./colours";

.sidebar {
	width: 10%;
	padding: 20px;
	position: absolute;
	left: 0;
	a {
		text-decoration: none;
	}
	.main {
		padding-bottom: 10px;
	}
	.tags {
		border-top: 2px solid silver;
		padding-top: 10px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.heading {
		font-style: italic;
		margin-bottom: 5px;
	}
}