// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";

.fileContainer {
	display: inline-block;
	position: relative;
	&:hover {
		.downloadContainer, .removeContainer, .multiContainer {
			display: block;
			&:hover {
				img {
					background-color: #5a86da;
				}
			}
		}
	}
	&.active {
		@include animation-transition(0.1s);
		opacity: 0.7;
	}
	.originalImageContainer {
		margin-bottom: 20px;
		.imageContainer {
			width: 450px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.imageContainer {
		display: inline-block;
		img {
			width: 175px;
			height: 175px;
			object-fit: cover;
		}
	}
	.videoContainer {
		display: inline-block;
		overflow: hidden;
		font-size: 0;
		video {
			width: 175px;
			height: 175px;
			object-fit: cover;
		}
	}
	.pdfContainer {
		display: inline-block;
		img {
			width: 175px;
			height: 175px;
			object-fit: cover;
		}
	}
	.userProfileContainer, .downloadContainer, .removeContainer, .multiContainer {
		padding: 5px;
		img {
			width: 20px;
			height: 20px;
			background-color: $primary-white;
			padding: 2px;
			object-fit: cover;
		}
	}
	.userProfileContainer {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.downloadContainer {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	.multiContainer {
		display: none;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.removeContainer {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		a {
			color: $primary-white;	
		}
	}
}
.tagsContainer {
	cursor: pointer;
	font-style: italic;
}

.showContainer {
	text-align: right;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	.removeContainer {
		margin-bottom: 10px;
	}
	.fileContainer {
		.imageContainer {
			position: relative;
			&:hover {
				.externalLink {
					display: block;
				}
			}
			.externalLink {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px;
				img {
					width: 20px;
					height: 20px;
					background-color: $primary-white;
					padding: 2px;
				}
			}
		}
		.videoContainer {
			video {
				width: 450px;
				height: auto;
			}
		}
	}
	.urlContainer {
		.copyEventUrl {
			cursor: pointer;
			font-weight: 600;
			margin-top: 10px;
		}
	}
}

.detailsContainer {
	margin-top: 10px;
	text-align: right;
	.edit_upload {
		display: none;
		width: 20%;
		margin-top: 10px;
		&.active {
			display: inline-block;
		}
	}
	.copyMessage {
		display: none;
		font-style: italic;
		&.active {
			display: block;
		}
	}
	a {
		text-decoration: none;
	}
	.toggleTagEdit {
		cursor: pointer;
		font-weight: bold;
	}
}

.pagination {
	margin-top: 10px;
	font-size: 18px;
}