// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";

.fileContainer {
	display: inline-block;
	position: relative;
	&:hover {
		.downloadContainer, .removeContainer {
			display: block;
		}
	}
	.imageContainer {
		display: inline-block;
		&:not(.original) {
			img {
				width: 175px;
				height: 175px;
				object-fit: cover;
			}	
		}
		&.original {
			width: 175px;
			height: 175px;
			img {
				width: 100%;
			}
		}
	}
	.videoContainer {
		display: inline-block;
		video {
			height: 175px;
			object-fit: cover;
		}
	}
	.pdfContainer {
		display: inline-block;
		img {
			width: 175px;
			height: 175px;
			object-fit: cover;
		}
	}
	.userProfileContainer, .downloadContainer, .removeContainer {
		padding: 5px;
		img {
			width: 20px;
			height: 20px;
			background-color: $primary-white;
			padding: 2px;
		}
	}
	.userProfileContainer {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.downloadContainer {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	.removeContainer {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		a {
			color: $primary-white;	
		}
	}
}
.tagsContainer {
	cursor: pointer;
	font-style: italic;
}

.uploadContainer {
	text-align: right;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	.removeContainer {
		margin-bottom: 10px;
	}
	.fileContainer {
		.imageContainer {
			position: relative;
			&:hover {
				.externalLink {
					display: block;
				}
			}
			.externalLink {
				display: none;
				position: absolute;
				top: 0;
				right: 0;
				padding: 5px;
				img {
					width: 20px;
					height: 20px;
					background-color: $primary-white;
					padding: 2px;
				}
			}
		}
	}
	.uploadDetailsContainer {
		margin-top: 10px;
		.copyEventUrl {
			cursor: pointer;
			font-weight: 600;
			margin-top: 10px;
		}
		.copyMessage {
			display: none;
			font-style: italic;
			&.active {
				display: block;
			}
		}
	}
}