// Place all the styles related to the Uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./colours";

.fileContainer {
	display: inline-block;
	position: relative;
	&:hover {
		.removeContainer {
			display: block;
		}
	}
	.imageContainer {
		display: inline-block;
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
	}
	.removeContainer {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 7px;
		a {
			color: $primary-white;	
		}
	}
}
.tagsContainer {
	cursor: pointer;
	font-style: italic;
}

.uploadContainer {
	text-align: right;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
	.removeContainer {
		margin-bottom: 10px;
	}
	.fileContainer {
		.imageContainer {
			position: relative;
			.externalLink {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.uploadDetailsContainer {
		margin-top: 10px;
	}
}