<nav>
	<% if current_user %>
		<a href="/uploads/new">
			+
		</a>
		<a href="/uploads">
			My Uploads
		</a>
		<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
	<% else %>
		<a href="/users/sign_in">
			Log in
		</a>
		<a href="/users/sign_up">
			Sign Up
		</a>
	<% end %>
</nav>